<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">修改</h4>
    </div>
    <div class="modal-body">
        <form name="edit_form" novalidate>
            <div class="row" >
                <div class="col-md-4">
                    <label class="edit-label">所属分组</label>
                </div>
                <div class="col-md-7">
                    <select class="form-control " name="controller" ng-model="edit.group_id">
                        <option value=""></option>
                        <option ng-repeat="item in group" value="{{item.group_id}}"
                                ng-selected="edit.group_id==item.group_id" >{{item.group_name}}</option>
                    </select>
                    <div ng-messages="edit_form.controller.$dirty && edit_form.controller.$error">

                    </div>
                </div>
                <div class="col-xs-1">

                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-md" ng-click="cancel()">取消</button>
        <button type="button" class="btn btn-primary btn-md"
                ng-click="update()" ng-disabled="edit_form.$invalid">保存</button>
    </div>
</div>