<div class="modal-content">
    <div class="modal-header" style="border: none;">
        <button type="button" class="close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">修改url</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12" >
                <table id="css_tb_box">
                    <tr>
                        <td style="width: 215px;">
                            <button class="btn btn-default btn-xs" style="margin: 0;" ng-class="{'btn-primary':(a.type=='href')}" ng-click="type('href')">外部网站url</button>
                            <button class="btn btn-default btn-xs" style="margin: 0;" ng-class="{'btn-primary':(a.type=='sref')}" ng-click="type('sref')">站内路由</button>
                            <button class="btn btn-default btn-xs" style="margin: 0;" ng-class="{'btn-primary':(a.type=='data')}" ng-click="type('data')">后台数据</button>
                        </td>
                        <td>
                            <div ng-show="a.type=='sref'">
                                <select ng-model="url" ng-options="item.name as item.url for item in router" class="form-control">
                                    <option value="" disabled hidden style="display: none;"></option>
                                </select>
                                <input type="text" ng-model="params" class="form-control input-sm" placeholder="附加数据({...}),只能用单引号">
                            </div>
                            <div ng-if="a.type=='href'">
                                <input type="url" ng-model="a.url" class="form-control">
                            </div>
                            <div ng-if="a.type=='data'">
                                <input type="text" ng-model="a.url" class="form-control">
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()" >完成</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</div>
<style>
    #css_tb_box{
        width:100%;
    }
    #css_tb_box td{
        padding:5px;
        vertical-align: middle;
    }
    .a-btn-hover:hover{
        background-color: #5ab770;
        color: #ffffff;
    }
</style>