<style>
    .all {
        position: relative;
        margin: 5px;
    }
    .model {
        width: 200px;
        height: 100%;
        border: 1px dashed #ccc;
    }
</style>
<div ng-controller="controller" style="width:800px;margin:auto;">

    <div class="all">
        <script type="text/html" style="margin:auto;height:300px;width:100%;" ng-model="model" meta-umeditor
                meta-umeditor-config='config'
                meta-umeditor-placeholder="提示文案!这里是完整的示例">
        </script>

        <div class="model">
            <div ng-bind="model"></div>
        </div>
    </div>

</div>
<div>

</div>


