<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">修改</h4>
    </div>
    <div class="modal-body">
        <form name="edit_form" novalidate>
            <div class="row" >
                <div class="col-md-4">
                    <label class="edit-label">路由名称</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control"
                           ng-model="edit.new" name="name"
                           nochinese tablename
                           required ng-minlength="1" ng-maxlength="30"/>
                    <div ng-messages="edit_form.name.$dirty && edit_form.name.$error">
                        <p class="text-danger" ng-message="required">名称是必填项!</p>
                        <p class="text-danger" ng-message="minlength">名称太短啦</p>
                        <p class="text-danger" ng-message="maxlength">名称太长啦</p>
                        <p class="text-danger" ng-message="nochinese">名称不能有中文</p>
                        <p class="text-danger" ng-message="tablename">名称不合适</p>
                    </div>
                </div>
                <div class="col-xs-1 required" >
                    <span>*</span>
                </div>
            </div>
            <div class="row" >
                <div class="col-md-4">
                    <label class="edit-label">模版</label>
                    <a ng-click="newt()" style="color: #0000FF">新建模版</a>
                    <a ng-click="oldt()" style="color: #0000FF">已有模版</a>
                </div>
                <div class="col-md-7">
                    <div ng-if="newtem">
                        <input type="text" class="form-control" name="template" ng-model="edit.template"
                               ng-minlength="1" ng-maxlength="30" nochinese tablename required>
                    </div>
                    <div ng-if="!newtem">
                        <select class="form-control " name="template" ng-model="edit.template" required>
                            <option value="" style="display: none" disabled hidden></option>
                            <option ng-repeat="item in template" value="{{item.filename}}"
                                    ng-selected="edit.template==item.filename" >{{item.filename}}</option>
                        </select>
                    </div>
                    <div ng-messages="edit_form.template.$dirty && edit_form.template.$error">
                        <p class="text-danger" ng-message="required">模版是必需的！</p>
                        <p class="text-danger" ng-message="maxlength">模版名称太短啦！</p>
                        <p class="text-danger" ng-message="minlength">模版名称太长啦！</p>
                        <p class="text-danger" ng-message="nochinese">模版名称不能有中文</p>
                        <p class="text-danger" ng-message="tablename">模版名称不合适</p>
                    </div>
                </div>
                <div class="col-xs-1 required">
                    <span>*</span>
                </div>
            </div>
            <div class="row" >
                <div class="col-md-4">
                    <label class="edit-label">url路径</label>
                </div>
                <div class="col-md-7" id="edit_url">
                    <div class="row" style="padding-left: 15px;">
                        <div class="col-xs-6" ng-repeat="url in edit.url track by $index" style="padding:0 0 5px 0;">
                            <div class="input-group">
                                <div class="input-group-addon">/</div>
                                <input type="text" class="form-control "
                                       name="url" ng-model="$parent.edit.url[$index]"
                                       required nochinese ng-minlength="1" ng-maxlength="25" urlitem/>
                                <div class="input-group-addon"  style="cursor: pointer;">
                                    <i class="fa fa-plus" aria-hidden="true" ng-click="addUrl($index)"></i>
                                    <i class="fa fa-close" aria-hidden="true" ng-click="delUrl($index)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-messages="edit_form.url.$dirty && edit_form.url.$error">
                        <p class="text-danger" ng-message="required">必填项!</p>
                        <p class="text-danger" ng-message="nochinese">必须是英文</p>
                        <p class="text-danger" ng-message="minlength">太短啦</p>
                        <p class="text-danger" ng-message="maxlength">太长啦</p>
                        <p class="text-danger" ng-message="tablename">不合适</p>
                    </div>
                </div>
                <div class="col-xs-1 required">
                    <span>*</span>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-md" ng-click="cancel()">取消</button>
        <button type="button" class="btn btn-primary btn-md"
                ng-click="modify()" ng-disabled="edit_form.$invalid">保存</button>
    </div>
</div>